.github/** ritek.rounak@harness.io
harness/cd/** ritek.rounak@harness.io
harness/har/** ritek.rounak@harness.io
harness/helpers/** ritek.rounak@harness.io
harness/nextgen/** ritek.rounak@harness.io
harness/policymgmt/** ritek.rounak@harness.io
tools/** ritek.rounak@harness.io
go.mod ritek.rounak@harness.io