internal/service/platform/connector/connector.go rathod.meetsatish@harness.io
internal/service/cd/** ritek.rounak@harness.io
internal/service/cd_nextgen/** ritek.rounak@harness.io
internal/service/har/** ritek.rounak@harness.io
internal/service/pipeline/** ritek.rounak@harness.io
internal/service/platform/** ritek.rounak@harness.io imran.khan@harness.io
.github/** ritek.rounak@harness.io
.harness/** ritek.rounak@harness.io
go.mod ritek.rounak@harness.io
tools/** ritek.rounak@harness.io
helpers/** ritek.rounak@harness.io
internal/service/platform/db_instance/** abhishek.abhishek@harness.io archit.singla@harness.io hemanth.sridhar@harness.io ritek.rounak@harness.io
internal/service/platform/db_schema/** abhishek.abhishek@harness.io archit.singla@harness.io hemanth.sridhar@harness.io ritek.rounak@harness.io
internal/service/platform/gitops/** ashin.sabu@harness.io manish.singh@harness.io mirko.teodorovic@harness.io alexandru.casian@harness.io ritek.rounak@harness.io