*.dll
*.exe
.DS_Store
bin/
dist/
modules-dev/
/pkg/
vendor/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml
*debug*
website/vendor

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/

# Keep windows files with windows line endings
*.winfile eol=crlf

# Environment Variables
.env

# VS Code
.vscode/

# Terraform
.terraform/
*.tfstate
example.tf
terraform.tfplan
terraform.tfstate
