---
subcategory: "Next Gen"
page_title: "Configuring usage scopes"
description: |-
    An example of how to apply usage scopes to a resource.
---

# Configure usage scopes for resources

There are a number of resources that can be scoped to a specific set of applications and environments. These include cloud providers, secrets, connectors, and more. Configuring it is the same across all of these resources.

In this example we are configuring a cloud provider to be used by any application in any environment.

{{ tffile "examples/usage_scope/simple.tf" }}

In this more advanced scenario we show how you can scope the cloud provider to a specific application or to a specific environment.

{{ tffile "examples/usage_scope/complex.tf" }}

