openapi: 3.0.3
info:
  title: Governance Policy Management API
  description: "Read and manage OPA Governance policies, policy sets and evaluations"
  version: 1.2.0
servers:
- url: https://app.harness.io/gateway/pm/
tags:
- name: dashboard
  description: "Aggregate summary of policies, policy sets and evaluations for display\
    \ on the dashboard"
- name: examples
  description: Example rego policies and corresponding input
- name: policies
  description: "Create, edit and delete Governance policies written in rego"
- name: evaluate
  description: Perform evaluations
- name: evaluations
  description: Access evaluation results
- name: policysets
  description: "Create, edit and delete Governance policy sets"
- name: system
  description: System version and health
paths:
  /api/v1/dashboard:
    get:
      tags:
      - dashboard
      description: "Get metrics about policies, policy sets and evaluations"
      operationId: dashboard#metrics
      parameters:
      - name: range
        in: query
        description: "The time period over which to aggregate dashboard data. Can\
          \ be: 24 hours, 7 days or 30 days"
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: "The time period over which to aggregate dashboard data. Can\
            \ be: 24 hours, 7 days or 30 days"
          example: 30d
          default: 30d
          enum:
          - 24h
          - 7d
          - 30d
        example: 30d
      - name: accountIdentifier
        in: query
        description: Harness account ID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Harness account ID
          example: eBqAoNchMLKigC_qZ5EdC
          default: ""
        example: eBqAoNchMLKigC_qZ5EdC
      - name: orgIdentifier
        in: query
        description: Harness organization ID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Harness organization ID
          example: test-org
          default: ""
        example: test-org
      - name: projectIdentifier
        in: query
        description: Harness project ID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Harness project ID
          example: test-project
          default: ""
        example: test-project
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardMetrics'
              example:
                aggregates:
                - error: 1201513832267580740
                  pass: 2920020791307846359
                  time: 461119712411546138
                  warning: 6971582622373151866
                - error: 1201513832267580740
                  pass: 2920020791307846359
                  time: 461119712411546138
                  warning: 6971582622373151866
                - error: 1201513832267580740
                  pass: 2920020791307846359
                  time: 461119712411546138
                  warning: 6971582622373151866
                policy_health:
                  total_evaluation_count: 7467880620589340301
                  total_evaluation_entity_count:
                    error: 4962770580155356801
                    pass: 1838564234748219477
                    warning: 6712404284550845579
                  total_policy_count: 1018281497905076142
                  total_policy_set_count: 4767159674574934953
                  total_policy_set_entity_count:
                    A ut.: 8823333786778254735
        "400":
          description: "BadRequest: Bad Request response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: "Unauthorized: Unauthorized response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: "Forbidden: Forbidden response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: "NotFound: Not Found response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: "InternalServer: Internal Server Error response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "502":
          description: "BadGateway: Bad Gateway response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwt_header_Authorization:
        - core_governancePolicy_view
        - core_governancePolicy_edit
        - core_governancePolicy_delete
        - core_governancePolicySets_view
        - core_governancePolicySets_edit
        - core_governancePolicySets_delete
        - core_governancePolicySets_evaluate
        - core_governance_admin
  /api/v1/evaluate:
    post:
      tags:
      - evaluate
      description: Evaluate arbitrary rego
      operationId: evaluate#evaluate
      parameters:
      - name: accountIdentifier
        in: query
        description: Harness account ID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Harness account ID
          example: eBqAoNchMLKigC_qZ5EdC
          default: ""
        example: eBqAoNchMLKigC_qZ5EdC
      - name: orgIdentifier
        in: query
        description: Harness organization ID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Harness organization ID
          example: test-org
          default: ""
        example: test-org
      - name: projectIdentifier
        in: query
        description: Harness project ID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Harness project ID
          example: test-project
          default: ""
        example: test-project
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvaluateRequestBody'
            example:
              input: "{\"message\": \"everyone\"}"
              rego: |-
                package test
                deny["should say hello world"] {input.message != "world"}
        required: true
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluatedPolicy'
              example:
                deny_messages:
                - deployment stage 'example-stage' does not have a HarnessApproval
                  step
                - deployment stage 'example-stage' has step 'run-script' that is forbidden
                  type 'ShellScript'
                error: "policy.rego:25: rego_parse_error: non-terminated string m\
                  \ == \"test"
                output: |-
                  {
                      "deny": [
                          "deployment stage 'deploy' does not have a HarnessApproval step"
                      ],
                      "stages_with_approval": []
                  }
                policy:
                  account_id: eBqAoNchMLKigC_qZ5EdC
                  created: 1636669297674
                  git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                  git_connector_ref: "."
                  git_default_branch: main
                  git_default_branch_update_error:
                    explanation: "File with given filepath [file.rego] already exists\
                      \ in Github, thus couldn't create a new file"
                    hint: "Please check if there's already a file [file.rego] in Github\
                      \ repository [rego-demo] for the given filepath and branch [main]."
                    message: "Please check if there's already a file [file.rego] in\
                      \ Github repository [rego-demo] for the given filepath and branch\
                      \ [main]."
                  git_default_branch_updated: 1636669297674
                  git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                  git_file_url: ""
                  git_path: .harness/policy.rego
                  git_repo: "github.com/org/repo,omitempty"
                  identifier: policy-1
                  name: Pipeline Approval
                  org_id: test-org
                  project_id: test-project
                  rego: ""
                  updated: 1636669297674
                status: error
        "400":
          description: "PolicySetNotFound: Bad Request response."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: "Unauthorized: Unauthorized response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: "Forbidden: Forbidden response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: "NotFound: Not Found response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: "InternalServer: Internal Server Error response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "502":
          description: "BadGateway: Bad Gateway response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwt_header_Authorization:
        - core_governancePolicy_view
        - core_governancePolicy_edit
        - core_governancePolicy_delete
        - core_governancePolicySets_view
        - core_governancePolicySets_edit
        - core_governancePolicySets_delete
        - core_governancePolicySets_evaluate
        - core_governance_admin
  /api/v1/evaluate-by-ids:
    post:
      tags:
      - evaluate
      description: Evaluate policy sets by ID
      operationId: evaluate#evaluate-by-ids
      parameters:
      - name: accountIdentifier
        in: query
        description: Harness account ID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Harness account ID
          example: eBqAoNchMLKigC_qZ5EdC
          default: ""
        example: eBqAoNchMLKigC_qZ5EdC
      - name: orgIdentifier
        in: query
        description: Harness organization ID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Harness organization ID
          example: test-org
          default: ""
        example: test-org
      - name: projectIdentifier
        in: query
        description: Harness project ID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Harness project ID
          example: test-project
          default: ""
        example: test-project
      - name: entity
        in: query
        description: User-supplied global identifier of the entity under evaluation
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: User-supplied global identifier of the entity under evaluation
          example: 7bbca5d4-e9f2-4955-9b2a-019ec4d3645e
          default: ""
        example: 7bbca5d4-e9f2-4955-9b2a-019ec4d3645e
      - name: entityMetadata
        in: query
        description: User-supplied additional metadata for the entity under evaluation
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: User-supplied additional metadata for the entity under evaluation
          example: "{\"name\":\"test-entity\"}"
          default: ""
        example: "{\"name\":\"test-entity\"}"
      - name: principalIdentifier
        in: query
        description: Identifier of the principal that triggered the evaluation - must
          be specified in conjunction with 'principalType'
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Identifier of the principal that triggered the evaluation -
            must be specified in conjunction with 'principalType'
          example: aaabbbcccddd
          default: ""
        example: aaabbbcccddd
      - name: principalType
        in: query
        description: Type of principal that triggered the evaluation - must be specified
          in conjunction with 'principalIdentifier'
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Type of principal that triggered the evaluation - must be specified
            in conjunction with 'principalIdentifier'
          example: USER
          default: ""
        example: USER
      - name: userIdentifier
        in: query
        description: "Deprecated: Please use 'principalIdentifier' and 'principalType'\
          \ instead"
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: "Deprecated: Please use 'principalIdentifier' and 'principalType'\
            \ instead"
          example: Voluptas qui veniam.
          default: ""
        example: Nisi facere eaque.
      - name: ids
        in: query
        description: "Comma-separated list of identifiers for the policy sets that\
          \ should be evaluated, with account. or org. prefixes if needed"
        required: true
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          minLength: 1
          type: string
          description: "Comma-separated list of identifiers for the policy sets that\
            \ should be evaluated, with account. or org. prefixes if needed"
          example: "policyset-1,policyset-2,policyset-3"
        example: "policyset-1,policyset-2,policyset-3"
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Evaluation'
              example:
                account_id: XRQAjvT37acOiXx9PRaQMF
                action: onrun
                created: 1636370209475
                details:
                - account_id: eBqAoNchMLKigC_qZ5EdC
                  action: onrun
                  created: 1636669297674
                  description: Captures critical production policies
                  details:
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  enabled: true
                  identifier: policyset-1
                  name: Production Policies
                  org_id: test-org
                  project_id: test-project
                  status: error
                  type: pipeline
                  updated: 1636669297674
                - account_id: eBqAoNchMLKigC_qZ5EdC
                  action: onrun
                  created: 1636669297674
                  description: Captures critical production policies
                  details:
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  enabled: true
                  identifier: policyset-1
                  name: Production Policies
                  org_id: test-org
                  project_id: test-project
                  status: error
                  type: pipeline
                  updated: 1636669297674
                - account_id: eBqAoNchMLKigC_qZ5EdC
                  action: onrun
                  created: 1636669297674
                  description: Captures critical production policies
                  details:
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  enabled: true
                  identifier: policyset-1
                  name: Production Policies
                  org_id: test-org
                  project_id: test-project
                  status: error
                  type: pipeline
                  updated: 1636669297674
                - account_id: eBqAoNchMLKigC_qZ5EdC
                  action: onrun
                  created: 1636669297674
                  description: Captures critical production policies
                  details:
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  enabled: true
                  identifier: policyset-1
                  name: Production Policies
                  org_id: test-org
                  project_id: test-project
                  status: error
                  type: pipeline
                  updated: 1636669297674
                entity: 7bbca5d4-e9f2-4955-9b2a-019ec4d3645e
                entity_metadata: 7bbca5d4-e9f2-4955-9b2a-019ec4d3645e
                id: 123
                input: ""
                org_id: test-org
                project_id: test-project
                status: error
                type: pipeline
        "400":
          description: "PolicySetNotFound: Bad Request response."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: "Unauthorized: Unauthorized response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: "Forbidden: Forbidden response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: "NotFound: Not Found response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: "InternalServer: Internal Server Error response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "502":
          description: "BadGateway: Bad Gateway response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwt_header_Authorization:
        - core_governancePolicy_view
        - core_governancePolicy_edit
        - core_governancePolicy_delete
        - core_governancePolicySets_view
        - core_governancePolicySets_edit
        - core_governancePolicySets_delete
        - core_governancePolicySets_evaluate
        - core_governance_admin
  /api/v1/evaluate-by-type:
    post:
      tags:
      - evaluate
      description: Evaluate all policy sets of a specified type
      operationId: evaluate#evaluate-by-type
      parameters:
      - name: accountIdentifier
        in: query
        description: Harness account ID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Harness account ID
          example: eBqAoNchMLKigC_qZ5EdC
          default: ""
        example: eBqAoNchMLKigC_qZ5EdC
      - name: orgIdentifier
        in: query
        description: Harness organization ID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Harness organization ID
          example: test-org
          default: ""
        example: test-org
      - name: projectIdentifier
        in: query
        description: Harness project ID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Harness project ID
          example: test-project
          default: ""
        example: test-project
      - name: entity
        in: query
        description: User-supplied global identifier of the entity under evaluation
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: User-supplied global identifier of the entity under evaluation
          example: 7bbca5d4-e9f2-4955-9b2a-019ec4d3645e
          default: ""
        example: 7bbca5d4-e9f2-4955-9b2a-019ec4d3645e
      - name: entityMetadata
        in: query
        description: User-supplied additional metadata for the entity under evaluation
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: User-supplied additional metadata for the entity under evaluation
          example: "{\"name\":\"test-entity\"}"
          default: ""
        example: "{\"name\":\"test-entity\"}"
      - name: type
        in: query
        description: Type of entity under evaluation
        required: true
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          minLength: 1
          type: string
          description: Type of entity under evaluation
          example: pipeline
        example: pipeline
      - name: action
        in: query
        description: Action that triggered the evaluation
        required: true
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          minLength: 1
          type: string
          description: Action that triggered the evaluation
          example: onrun
        example: onrun
      - name: principalIdentifier
        in: query
        description: Identifier of the principal that triggered the evaluation - must
          be specified in conjunction with 'principalType'
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Identifier of the principal that triggered the evaluation -
            must be specified in conjunction with 'principalType'
          example: aaabbbcccddd
          default: ""
        example: aaabbbcccddd
      - name: principalType
        in: query
        description: Type of principal that triggered the evaluation - must be specified
          in conjunction with 'principalIdentifier'
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Type of principal that triggered the evaluation - must be specified
            in conjunction with 'principalIdentifier'
          example: USER
          default: ""
        example: USER
      - name: userIdentifier
        in: query
        description: "Deprecated: Please use 'principalIdentifier' and 'principalType'\
          \ instead"
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: "Deprecated: Please use 'principalIdentifier' and 'principalType'\
            \ instead"
          example: Molestias nostrum dolor.
          default: ""
        example: Explicabo ea excepturi natus unde dolores.
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Evaluation'
              example:
                account_id: XRQAjvT37acOiXx9PRaQMF
                action: onrun
                created: 1636370209475
                details:
                - account_id: eBqAoNchMLKigC_qZ5EdC
                  action: onrun
                  created: 1636669297674
                  description: Captures critical production policies
                  details:
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  enabled: true
                  identifier: policyset-1
                  name: Production Policies
                  org_id: test-org
                  project_id: test-project
                  status: error
                  type: pipeline
                  updated: 1636669297674
                - account_id: eBqAoNchMLKigC_qZ5EdC
                  action: onrun
                  created: 1636669297674
                  description: Captures critical production policies
                  details:
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  enabled: true
                  identifier: policyset-1
                  name: Production Policies
                  org_id: test-org
                  project_id: test-project
                  status: error
                  type: pipeline
                  updated: 1636669297674
                - account_id: eBqAoNchMLKigC_qZ5EdC
                  action: onrun
                  created: 1636669297674
                  description: Captures critical production policies
                  details:
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  enabled: true
                  identifier: policyset-1
                  name: Production Policies
                  org_id: test-org
                  project_id: test-project
                  status: error
                  type: pipeline
                  updated: 1636669297674
                - account_id: eBqAoNchMLKigC_qZ5EdC
                  action: onrun
                  created: 1636669297674
                  description: Captures critical production policies
                  details:
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  enabled: true
                  identifier: policyset-1
                  name: Production Policies
                  org_id: test-org
                  project_id: test-project
                  status: error
                  type: pipeline
                  updated: 1636669297674
                entity: 7bbca5d4-e9f2-4955-9b2a-019ec4d3645e
                entity_metadata: 7bbca5d4-e9f2-4955-9b2a-019ec4d3645e
                id: 123
                input: ""
                org_id: test-org
                project_id: test-project
                status: error
                type: pipeline
        "400":
          description: "PolicySetNotFound: Bad Request response."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: "Unauthorized: Unauthorized response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: "Forbidden: Forbidden response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: "NotFound: Not Found response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: "InternalServer: Internal Server Error response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "502":
          description: "BadGateway: Bad Gateway response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwt_header_Authorization:
        - core_governancePolicy_view
        - core_governancePolicy_edit
        - core_governancePolicy_delete
        - core_governancePolicySets_view
        - core_governancePolicySets_edit
        - core_governancePolicySets_delete
        - core_governancePolicySets_evaluate
        - core_governance_admin
  /api/v1/evaluations:
    get:
      tags:
      - evaluations
      description: List evaluations
      operationId: evaluations#list
      parameters:
      - name: accountIdentifier
        in: query
        description: Harness account ID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Harness account ID
          example: eBqAoNchMLKigC_qZ5EdC
          default: ""
        example: eBqAoNchMLKigC_qZ5EdC
      - name: orgIdentifier
        in: query
        description: Harness organization ID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Harness organization ID
          example: test-org
          default: ""
        example: test-org
      - name: projectIdentifier
        in: query
        description: Harness project ID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Harness project ID
          example: test-project
          default: ""
        example: test-project
      - name: per_page
        in: query
        description: Number of results per page
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          description: Number of results per page
          example: 20
          default: 50
        example: 20
      - name: page
        in: query
        description: Page number (starting from 0)
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          description: Page number (starting from 0)
          example: 4
          default: 0
        example: 4
      - name: entity
        in: query
        description: Filter by the entity associated with the evaluation
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Filter by the entity associated with the evaluation
          example: 7bbca5d4-e9f2-4955-9b2a-019ec4d3645e
        example: 7bbca5d4-e9f2-4955-9b2a-019ec4d3645e
      - name: type
        in: query
        description: Filter by the type associated with the evaluation
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Filter by the type associated with the evaluation
          example: pipeline
        example: pipeline
      - name: action
        in: query
        description: Filter by the action associated with the evaluation
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Filter by the action associated with the evaluation
          example: onrun
        example: onrun
      - name: last_seen
        in: query
        description: Retrieve results starting after this last-seen result
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: integer
          description: Retrieve results starting after this last-seen result
          format: int64
          example: 123
        example: 123
      - name: includeChildScopes
        in: query
        description: "When true, evaluations from child scopes will be inculded in\
          \ the results"
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: boolean
          description: "When true, evaluations from child scopes will be inculded\
            \ in the results"
          example: false
          default: false
        example: false
      responses:
        "200":
          description: OK response.
          headers:
            Link:
              description: Link-based paging
              required: true
              style: simple
              explode: false
              schema:
                type: string
                description: Link-based paging
                example: ""
              example: ""
            X-Page-Index:
              description: Page number
              required: true
              style: simple
              explode: false
              schema:
                type: integer
                description: Page number
                format: int64
                example: 4
              example: 4
            X-Page-Item-Count:
              description: Number of results in this page
              required: true
              style: simple
              explode: false
              schema:
                type: integer
                description: Number of results in this page
                format: int64
                example: 20
              example: 20
            X-Page-Size:
              description: Requested page size
              required: true
              style: simple
              explode: false
              schema:
                type: integer
                description: Requested page size
                format: int64
                example: 20
              example: 20
            X-Total-Items:
              description: Total results available
              required: true
              style: simple
              explode: false
              schema:
                type: integer
                description: Total results available
                format: int64
                example: 230
              example: 230
            X-Total-Pages:
              description: Total pages available
              required: true
              style: simple
              explode: false
              schema:
                type: integer
                description: Total pages available
                format: int64
                example: 12
              example: 12
          content:
            application/json:
              schema:
                type: array
                example:
                - account_id: XRQAjvT37acOiXx9PRaQMF
                  action: onrun
                  created: 1636370209475
                  details:
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    action: onrun
                    created: 1636669297674
                    description: Captures critical production policies
                    details:
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval
                        step
                      - deployment stage 'example-stage' has step 'run-script' that
                        is forbidden type 'ShellScript'
                      error: "policy.rego:25: rego_parse_error: non-terminated string\
                        \ m == \"test"
                      output: |-
                        {
                            "deny": [
                                "deployment stage 'deploy' does not have a HarnessApproval step"
                            ],
                            "stages_with_approval": []
                        }
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        created: 1636669297674
                        git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_connector_ref: "."
                        git_default_branch: main
                        git_default_branch_update_error:
                          explanation: "File with given filepath [file.rego] already\
                            \ exists in Github, thus couldn't create a new file"
                          hint: "Please check if there's already a file [file.rego]\
                            \ in Github repository [rego-demo] for the given filepath\
                            \ and branch [main]."
                          message: "Please check if there's already a file [file.rego]\
                            \ in Github repository [rego-demo] for the given filepath\
                            \ and branch [main]."
                        git_default_branch_updated: 1636669297674
                        git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_file_url: ""
                        git_path: .harness/policy.rego
                        git_repo: "github.com/org/repo,omitempty"
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        project_id: test-project
                        rego: ""
                        updated: 1636669297674
                      status: error
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval
                        step
                      - deployment stage 'example-stage' has step 'run-script' that
                        is forbidden type 'ShellScript'
                      error: "policy.rego:25: rego_parse_error: non-terminated string\
                        \ m == \"test"
                      output: |-
                        {
                            "deny": [
                                "deployment stage 'deploy' does not have a HarnessApproval step"
                            ],
                            "stages_with_approval": []
                        }
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        created: 1636669297674
                        git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_connector_ref: "."
                        git_default_branch: main
                        git_default_branch_update_error:
                          explanation: "File with given filepath [file.rego] already\
                            \ exists in Github, thus couldn't create a new file"
                          hint: "Please check if there's already a file [file.rego]\
                            \ in Github repository [rego-demo] for the given filepath\
                            \ and branch [main]."
                          message: "Please check if there's already a file [file.rego]\
                            \ in Github repository [rego-demo] for the given filepath\
                            \ and branch [main]."
                        git_default_branch_updated: 1636669297674
                        git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_file_url: ""
                        git_path: .harness/policy.rego
                        git_repo: "github.com/org/repo,omitempty"
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        project_id: test-project
                        rego: ""
                        updated: 1636669297674
                      status: error
                    enabled: true
                    identifier: policyset-1
                    name: Production Policies
                    org_id: test-org
                    project_id: test-project
                    status: error
                    type: pipeline
                    updated: 1636669297674
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    action: onrun
                    created: 1636669297674
                    description: Captures critical production policies
                    details:
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval
                        step
                      - deployment stage 'example-stage' has step 'run-script' that
                        is forbidden type 'ShellScript'
                      error: "policy.rego:25: rego_parse_error: non-terminated string\
                        \ m == \"test"
                      output: |-
                        {
                            "deny": [
                                "deployment stage 'deploy' does not have a HarnessApproval step"
                            ],
                            "stages_with_approval": []
                        }
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        created: 1636669297674
                        git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_connector_ref: "."
                        git_default_branch: main
                        git_default_branch_update_error:
                          explanation: "File with given filepath [file.rego] already\
                            \ exists in Github, thus couldn't create a new file"
                          hint: "Please check if there's already a file [file.rego]\
                            \ in Github repository [rego-demo] for the given filepath\
                            \ and branch [main]."
                          message: "Please check if there's already a file [file.rego]\
                            \ in Github repository [rego-demo] for the given filepath\
                            \ and branch [main]."
                        git_default_branch_updated: 1636669297674
                        git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_file_url: ""
                        git_path: .harness/policy.rego
                        git_repo: "github.com/org/repo,omitempty"
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        project_id: test-project
                        rego: ""
                        updated: 1636669297674
                      status: error
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval
                        step
                      - deployment stage 'example-stage' has step 'run-script' that
                        is forbidden type 'ShellScript'
                      error: "policy.rego:25: rego_parse_error: non-terminated string\
                        \ m == \"test"
                      output: |-
                        {
                            "deny": [
                                "deployment stage 'deploy' does not have a HarnessApproval step"
                            ],
                            "stages_with_approval": []
                        }
                      policy:
                        account_id: eBqAoNchMLKigC_qZ5EdC
                        created: 1636669297674
                        git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_connector_ref: "."
                        git_default_branch: main
                        git_default_branch_update_error:
                          explanation: "File with given filepath [file.rego] already\
                            \ exists in Github, thus couldn't create a new file"
                          hint: "Please check if there's already a file [file.rego]\
                            \ in Github repository [rego-demo] for the given filepath\
                            \ and branch [main]."
                          message: "Please check if there's already a file [file.rego]\
                            \ in Github repository [rego-demo] for the given filepath\
                            \ and branch [main]."
                        git_default_branch_updated: 1636669297674
                        git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                        git_file_url: ""
                        git_path: .harness/policy.rego
                        git_repo: "github.com/org/repo,omitempty"
                        identifier: policy-1
                        name: Pipeline Approval
                        org_id: test-org
                        project_id: test-project
                        rego: ""
                        updated: 1636669297674
                      status: error
                    enabled: true
                    identifier: policyset-1
                    name: Production Policies
                    org_id: test-org
                    project_id: test-project
                    status: error
                    type: pipeline
                    updated: 1636669297674
                  - account_id: eBqAoNchMLKigC_qZ5EdC
                    action: onrun
                    created: 1636669297674
                    description: Captures critical production policies
                    details:
                    - deny_messages:
                      - deployment stage 'example-stage' does not have a HarnessApproval
                        step
                      - deployment stage 'example-stage' has step 'run-script' that
                        is forbidden type 'ShellScript'
                      error: "policy.rego:25: rego_parse_error: non-terminated string\
                        \ m == \"test"
                      output: |-
                        {
                            "deny": [
                                "deployment stage 'deploy' does not have a HarnessApproval step"
                            ],
[...]
