openapi: 3.0.3
info:
  title: Governance Policy Management API
  description: "Read and manage OPA Governance policies, policy sets and evaluations"
  version: 1.2.0
servers:
- url: https://app.harness.io/gateway/pm/
tags:
- name: aida
  description: AIDA API's for Harness OPA
- name: dashboard
  description: "Aggregate summary of policies, policy sets and evaluations for display\
    \ on the dashboard"
- name: examples
  description: Example rego policies and corresponding input
- name: policies
  description: "Create, edit and delete Governance policies written in rego"
- name: evaluate
  description: Perform evaluations
- name: evaluations
  description: Access evaluation results
- name: policysets
  description: "Create, edit and delete Governance policy sets"
- name: system
  description: System version and health
paths:
  /api/v1/aida/analyze:
    post:
      tags:
      - aida
      description: Describe Policy On Basis of rego
      operationId: aida#analyze
      parameters:
      - name: accountIdentifier
        in: query
        description: Harness account ID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Harness account ID
          example: eBqAoNchMLKigC_qZ5EdC
          default: ""
        example: eBqAoNchMLKigC_qZ5EdC
      - name: orgIdentifier
        in: query
        description: Harness organization ID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Harness organization ID
          example: test-org
          default: ""
        example: test-org
      - name: projectIdentifier
        in: query
        description: Harness project ID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Harness project ID
          example: test-project
          default: ""
        example: test-project
      - name: x-api-key
        in: header
        description: Harness PAT key used to perform authorization
        required: false
        style: simple
        explode: false
        schema:
          type: string
          description: Harness PAT key used to perform authorization
          example: Et labore laudantium asperiores enim nesciunt.
        example: Voluptas consequuntur aliquid accusantium.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyzeRequestBody'
            example:
              entityType: encryptedJsonData example
              rego: query example
        required: true
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyzeResponse'
              example:
                desc: policy example
                status: SUCCESS
        "400":
          description: "BadRequest: Bad Request response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: "Unauthorized: Unauthorized response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: "Forbidden: Forbidden response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: "NotFound: Not Found response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: "InternalServer: Internal Server Error response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "502":
          description: "BadGateway: Bad Gateway response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwt_header_Authorization:
        - core_governancePolicy_view
        - core_governancePolicy_edit
        - core_governancePolicy_delete
        - core_governancePolicySets_view
        - core_governancePolicySets_edit
        - core_governancePolicySets_delete
        - core_governancePolicySets_evaluate
        - core_governance_admin
      - api_key_header_x-api-key: []
  /api/v1/aida/generate:
    post:
      tags:
      - aida
      description: Generate Policy On Basis of free Text
      operationId: aida#generate
      parameters:
      - name: accountIdentifier
        in: query
        description: Harness account ID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Harness account ID
          example: eBqAoNchMLKigC_qZ5EdC
          default: ""
        example: eBqAoNchMLKigC_qZ5EdC
      - name: orgIdentifier
        in: query
        description: Harness organization ID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Harness organization ID
          example: test-org
          default: ""
        example: test-org
      - name: projectIdentifier
        in: query
        description: Harness project ID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Harness project ID
          example: test-project
          default: ""
        example: test-project
      - name: x-api-key
        in: header
        description: Harness PAT key used to perform authorization
        required: false
        style: simple
        explode: false
        schema:
          type: string
          description: Harness PAT key used to perform authorization
          example: Recusandae quisquam sunt veritatis id occaecati et.
        example: Explicabo qui repellat.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateRequestBody'
            example:
              policyData: encryptedJsonData example
              query: query example
        required: true
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicySample'
              example:
                policy: policy example
                status: SUCCESS
        "400":
          description: "BadRequest: Bad Request response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: "Unauthorized: Unauthorized response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: "Forbidden: Forbidden response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: "NotFound: Not Found response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: "InternalServer: Internal Server Error response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "502":
          description: "BadGateway: Bad Gateway response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwt_header_Authorization:
        - core_governancePolicy_view
        - core_governancePolicy_edit
        - core_governancePolicy_delete
        - core_governancePolicySets_view
        - core_governancePolicySets_edit
        - core_governancePolicySets_delete
        - core_governancePolicySets_evaluate
        - core_governance_admin
      - api_key_header_x-api-key: []
  /api/v1/dashboard:
    get:
      tags:
      - dashboard
      description: "Get metrics about policies, policy sets and evaluations"
      operationId: dashboard#metrics
      parameters:
      - name: range
        in: query
        description: "The time period over which to aggregate dashboard data. Can\
          \ be: 24 hours, 7 days or 30 days"
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: "The time period over which to aggregate dashboard data. Can\
            \ be: 24 hours, 7 days or 30 days"
          example: 30d
          default: 30d
          enum:
          - 24h
          - 7d
          - 30d
        example: 30d
      - name: accountIdentifier
        in: query
        description: Harness account ID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Harness account ID
          example: eBqAoNchMLKigC_qZ5EdC
          default: ""
        example: eBqAoNchMLKigC_qZ5EdC
      - name: orgIdentifier
        in: query
        description: Harness organization ID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Harness organization ID
          example: test-org
          default: ""
        example: test-org
      - name: projectIdentifier
        in: query
        description: Harness project ID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Harness project ID
          example: test-project
          default: ""
        example: test-project
      - name: x-api-key
        in: header
        description: Harness PAT key used to perform authorization
        required: false
        style: simple
        explode: false
        schema:
          type: string
          description: Harness PAT key used to perform authorization
          example: Ea dolores voluptatem et optio sit minus.
        example: Rerum voluptas explicabo voluptatem iusto voluptatem nihil.
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardMetrics'
              example:
                aggregates:
                - error: 7047330649455918569
                  pass: 5978409892349166329
                  time: 3842596383256885522
                  warning: 7820734117944797579
                - error: 7047330649455918569
                  pass: 5978409892349166329
                  time: 3842596383256885522
                  warning: 7820734117944797579
                policy_health:
                  total_evaluation_count: 6897252924146464223
                  total_evaluation_entity_count:
                    error: 76024433486172609
                    pass: 4127438089508318555
                    warning: 511376631733875378
                  total_policy_count: 2312323563280819911
                  total_policy_set_count: 5354236275073299085
                  total_policy_set_entity_count:
                    Possimus corporis doloremque nihil hic exercitationem.: 2751085338469200587
        "400":
          description: "BadRequest: Bad Request response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: "Unauthorized: Unauthorized response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: "Forbidden: Forbidden response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: "NotFound: Not Found response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: "InternalServer: Internal Server Error response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "502":
          description: "BadGateway: Bad Gateway response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwt_header_Authorization:
        - core_governancePolicy_view
        - core_governancePolicy_edit
        - core_governancePolicy_delete
        - core_governancePolicySets_view
        - core_governancePolicySets_edit
        - core_governancePolicySets_delete
        - core_governancePolicySets_evaluate
        - core_governance_admin
      - api_key_header_x-api-key: []
  /api/v1/evaluate:
    post:
      tags:
      - evaluate
      description: Evaluate arbitrary rego
      operationId: evaluate#evaluate
      parameters:
      - name: accountIdentifier
        in: query
        description: Harness account ID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Harness account ID
          example: eBqAoNchMLKigC_qZ5EdC
          default: ""
        example: eBqAoNchMLKigC_qZ5EdC
      - name: orgIdentifier
        in: query
        description: Harness organization ID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Harness organization ID
          example: test-org
          default: ""
        example: test-org
      - name: projectIdentifier
        in: query
        description: Harness project ID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Harness project ID
          example: test-project
          default: ""
        example: test-project
      - name: x-api-key
        in: header
        description: Harness PAT key used to perform authorization
        required: false
        style: simple
        explode: false
        schema:
          type: string
          description: Harness PAT key used to perform authorization
          example: Laboriosam magni inventore id ipsa.
        example: Consequatur recusandae voluptatem sit unde excepturi nesciunt.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvaluateRequestBody'
            example:
              input: "{\"message\": \"everyone\"}"
              rego: |-
                package test
                deny["should say hello world"] {input.message != "world"}
        required: true
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluatedPolicy'
              example:
                deny_messages:
                - deployment stage 'example-stage' does not have a HarnessApproval
                  step
                - deployment stage 'example-stage' has step 'run-script' that is forbidden
                  type 'ShellScript'
                error: "policy.rego:25: rego_parse_error: non-terminated string m\
                  \ == \"test"
                output: |-
                  {
                      "deny": [
                          "deployment stage 'deploy' does not have a HarnessApproval step"
                      ],
                      "stages_with_approval": []
                  }
                policy:
                  account_id: eBqAoNchMLKigC_qZ5EdC
                  created: 1636669297674
                  git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                  git_connector_ref: "."
                  git_default_branch: main
                  git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                  git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                  git_default_branch_file_url: ""
                  git_default_branch_update_error:
                    explanation: "File with given filepath [file.rego] already exists\
                      \ in Github, thus couldn't create a new file"
                    hint: "Please check if there's already a file [file.rego] in Github\
                      \ repository [rego-demo] for the given filepath and branch [main]."
                    message: "Please check if there's already a file [file.rego] in\
                      \ Github repository [rego-demo] for the given filepath and branch\
                      \ [main]."
                  git_default_branch_updated: 1636669297674
                  git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                  git_file_url: ""
                  git_path: .harness/policy.rego
                  git_repo: "github.com/org/repo,omitempty"
                  identifier: policy-1
                  name: Pipeline Approval
                  org_id: test-org
                  project_id: test-project
                  rego: ""
                  updated: 1636669297674
                status: error
        "400":
          description: "PolicySetNotFound: Bad Request response."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: "Unauthorized: Unauthorized response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: "Forbidden: Forbidden response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: "NotFound: Not Found response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: "InternalServer: Internal Server Error response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "502":
          description: "BadGateway: Bad Gateway response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwt_header_Authorization:
        - core_governancePolicy_view
        - core_governancePolicy_edit
        - core_governancePolicy_delete
        - core_governancePolicySets_view
        - core_governancePolicySets_edit
        - core_governancePolicySets_delete
        - core_governancePolicySets_evaluate
        - core_governance_admin
      - api_key_header_x-api-key: []
  /api/v1/evaluate-by-ids:
    post:
      tags:
      - evaluate
      description: Evaluate policy sets by ID
      operationId: evaluate#evaluate-by-ids
      parameters:
      - name: accountIdentifier
        in: query
        description: Harness account ID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Harness account ID
          example: eBqAoNchMLKigC_qZ5EdC
          default: ""
        example: eBqAoNchMLKigC_qZ5EdC
      - name: orgIdentifier
        in: query
        description: Harness organization ID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Harness organization ID
          example: test-org
          default: ""
        example: test-org
      - name: projectIdentifier
        in: query
        description: Harness project ID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Harness project ID
          example: test-project
          default: ""
        example: test-project
      - name: entity
        in: query
        description: User-supplied global identifier of the entity under evaluation
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: User-supplied global identifier of the entity under evaluation
          example: 7bbca5d4-e9f2-4955-9b2a-019ec4d3645e
          default: ""
        example: 7bbca5d4-e9f2-4955-9b2a-019ec4d3645e
      - name: entityMetadata
        in: query
        description: User-supplied additional metadata for the entity under evaluation
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: User-supplied additional metadata for the entity under evaluation
          example: "{\"name\":\"test-entity\"}"
          default: ""
        example: "{\"name\":\"test-entity\"}"
      - name: principalIdentifier
        in: query
        description: Identifier of the principal that triggered the evaluation - must
          be specified in conjunction with 'principalType'
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Identifier of the principal that triggered the evaluation -
            must be specified in conjunction with 'principalType'
          example: aaabbbcccddd
          default: ""
        example: aaabbbcccddd
      - name: principalType
        in: query
        description: Type of principal that triggered the evaluation - must be specified
          in conjunction with 'principalIdentifier'
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Type of principal that triggered the evaluation - must be specified
            in conjunction with 'principalIdentifier'
          example: USER
          default: ""
        example: USER
      - name: userIdentifier
        in: query
        description: "Deprecated: Please use 'principalIdentifier' and 'principalType'\
          \ instead"
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: "Deprecated: Please use 'principalIdentifier' and 'principalType'\
            \ instead"
          example: Quis expedita et labore dolorem et.
          default: ""
        example: Provident autem ut dolor.
      - name: ids
        in: query
        description: "Comma-separated list of identifiers for the policy sets that\
          \ should be evaluated, with account. or org. prefixes if needed"
        required: true
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          minLength: 1
          type: string
          description: "Comma-separated list of identifiers for the policy sets that\
            \ should be evaluated, with account. or org. prefixes if needed"
          example: "policyset-1,policyset-2,policyset-3"
        example: "policyset-1,policyset-2,policyset-3"
      - name: x-api-key
        in: header
        description: Harness PAT key used to perform authorization
        required: false
        style: simple
        explode: false
        schema:
          type: string
          description: Harness PAT key used to perform authorization
          example: Aut accusantium.
        example: Vel culpa dolorem mollitia qui sequi aliquam.
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Evaluation'
              example:
                account_id: XRQAjvT37acOiXx9PRaQMF
                action: onrun
                created: 1636370209475
                details:
                - account_id: eBqAoNchMLKigC_qZ5EdC
                  action: onrun
                  created: 1636669297674
                  description: Captures critical production policies
                  details:
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ""
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ""
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ""
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ""
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  enabled: true
                  identifier: policyset-1
                  name: Production Policies
                  org_id: test-org
                  project_id: test-project
                  status: error
                  type: pipeline
                  updated: 1636669297674
                - account_id: eBqAoNchMLKigC_qZ5EdC
                  action: onrun
                  created: 1636669297674
                  description: Captures critical production policies
                  details:
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ""
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ""
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ""
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ""
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  enabled: true
                  identifier: policyset-1
                  name: Production Policies
                  org_id: test-org
                  project_id: test-project
                  status: error
                  type: pipeline
                  updated: 1636669297674
                - account_id: eBqAoNchMLKigC_qZ5EdC
                  action: onrun
                  created: 1636669297674
                  description: Captures critical production policies
                  details:
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ""
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ""
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ""
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ""
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  enabled: true
                  identifier: policyset-1
                  name: Production Policies
                  org_id: test-org
                  project_id: test-project
                  status: error
                  type: pipeline
                  updated: 1636669297674
                entity: 7bbca5d4-e9f2-4955-9b2a-019ec4d3645e
                entity_metadata: 7bbca5d4-e9f2-4955-9b2a-019ec4d3645e
                id: 123
                input: ""
                org_id: test-org
                project_id: test-project
                status: error
                type: "pipeline,service"
        "400":
          description: "PolicySetNotFound: Bad Request response."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: "Unauthorized: Unauthorized response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: "Forbidden: Forbidden response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: "NotFound: Not Found response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: "InternalServer: Internal Server Error response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
        "502":
          description: "BadGateway: Bad Gateway response."
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - jwt_header_Authorization:
        - core_governancePolicy_view
        - core_governancePolicy_edit
        - core_governancePolicy_delete
        - core_governancePolicySets_view
        - core_governancePolicySets_edit
        - core_governancePolicySets_delete
        - core_governancePolicySets_evaluate
        - core_governance_admin
      - api_key_header_x-api-key: []
  /api/v1/evaluate-by-type:
    post:
      tags:
      - evaluate
      description: Evaluate all policy sets of a specified type
      operationId: evaluate#evaluate-by-type
      parameters:
      - name: accountIdentifier
        in: query
        description: Harness account ID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Harness account ID
          example: eBqAoNchMLKigC_qZ5EdC
          default: ""
        example: eBqAoNchMLKigC_qZ5EdC
      - name: orgIdentifier
        in: query
        description: Harness organization ID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Harness organization ID
          example: test-org
          default: ""
        example: test-org
      - name: projectIdentifier
        in: query
        description: Harness project ID
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Harness project ID
          example: test-project
          default: ""
        example: test-project
      - name: entity
        in: query
        description: User-supplied global identifier of the entity under evaluation
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: User-supplied global identifier of the entity under evaluation
          example: 7bbca5d4-e9f2-4955-9b2a-019ec4d3645e
          default: ""
        example: 7bbca5d4-e9f2-4955-9b2a-019ec4d3645e
      - name: entityMetadata
        in: query
        description: User-supplied additional metadata for the entity under evaluation
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: User-supplied additional metadata for the entity under evaluation
          example: "{\"name\":\"test-entity\"}"
          default: ""
        example: "{\"name\":\"test-entity\"}"
      - name: type
        in: query
        description: Type of entity under evaluation
        required: true
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          minLength: 1
          type: string
          description: Type of entity under evaluation
          example: pipeline
        example: pipeline
      - name: action
        in: query
        description: Action that triggered the evaluation
        required: true
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          minLength: 1
          type: string
          description: Action that triggered the evaluation
          example: onrun
        example: onrun
      - name: principalIdentifier
        in: query
        description: Identifier of the principal that triggered the evaluation - must
          be specified in conjunction with 'principalType'
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Identifier of the principal that triggered the evaluation -
            must be specified in conjunction with 'principalType'
          example: aaabbbcccddd
          default: ""
        example: aaabbbcccddd
      - name: principalType
        in: query
        description: Type of principal that triggered the evaluation - must be specified
          in conjunction with 'principalIdentifier'
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: Type of principal that triggered the evaluation - must be specified
            in conjunction with 'principalIdentifier'
          example: USER
          default: ""
        example: USER
      - name: userIdentifier
        in: query
        description: "Deprecated: Please use 'principalIdentifier' and 'principalType'\
          \ instead"
        required: false
        allowEmptyValue: true
        style: form
        explode: true
        schema:
          type: string
          description: "Deprecated: Please use 'principalIdentifier' and 'principalType'\
            \ instead"
          example: Ut suscipit error.
          default: ""
        example: Numquam dolor quibusdam tenetur.
      - name: x-api-key
        in: header
        description: Harness PAT key used to perform authorization
        required: false
        style: simple
        explode: false
        schema:
          type: string
          description: Harness PAT key used to perform authorization
          example: Optio odit ea deserunt praesentium temporibus.
        example: Eveniet et sunt.
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Evaluation'
              example:
                account_id: XRQAjvT37acOiXx9PRaQMF
                action: onrun
                created: 1636370209475
                details:
                - account_id: eBqAoNchMLKigC_qZ5EdC
                  action: onrun
                  created: 1636669297674
                  description: Captures critical production policies
                  details:
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ""
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ""
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ""
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ""
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  enabled: true
                  identifier: policyset-1
                  name: Production Policies
                  org_id: test-org
                  project_id: test-project
                  status: error
                  type: pipeline
                  updated: 1636669297674
                - account_id: eBqAoNchMLKigC_qZ5EdC
                  action: onrun
                  created: 1636669297674
                  description: Captures critical production policies
                  details:
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ""
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ""
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ""
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ""
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  enabled: true
                  identifier: policyset-1
                  name: Production Policies
                  org_id: test-org
                  project_id: test-project
                  status: error
                  type: pipeline
                  updated: 1636669297674
                - account_id: eBqAoNchMLKigC_qZ5EdC
                  action: onrun
                  created: 1636669297674
                  description: Captures critical production policies
                  details:
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ""
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ""
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ""
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ""
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  enabled: true
                  identifier: policyset-1
                  name: Production Policies
                  org_id: test-org
                  project_id: test-project
                  status: error
                  type: pipeline
                  updated: 1636669297674
                - account_id: eBqAoNchMLKigC_qZ5EdC
                  action: onrun
                  created: 1636669297674
                  description: Captures critical production policies
                  details:
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ""
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
                    - deployment stage 'example-stage' has step 'run-script' that
                      is forbidden type 'ShellScript'
                    error: "policy.rego:25: rego_parse_error: non-terminated string\
                      \ m == \"test"
                    output: |-
                      {
                          "deny": [
                              "deployment stage 'deploy' does not have a HarnessApproval step"
                          ],
                          "stages_with_approval": []
                      }
                    policy:
                      account_id: eBqAoNchMLKigC_qZ5EdC
                      created: 1636669297674
                      git_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_connector_ref: "."
                      git_default_branch: main
                      git_default_branch_commit_sha: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_default_branch_file_url: ""
                      git_default_branch_update_error:
                        explanation: "File with given filepath [file.rego] already\
                          \ exists in Github, thus couldn't create a new file"
                        hint: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                        message: "Please check if there's already a file [file.rego]\
                          \ in Github repository [rego-demo] for the given filepath\
                          \ and branch [main]."
                      git_default_branch_updated: 1636669297674
                      git_file_id: 1369b45c20fc685113adcfd1a08a914180ff3c0d
                      git_file_url: ""
                      git_path: .harness/policy.rego
                      git_repo: "github.com/org/repo,omitempty"
                      identifier: policy-1
                      name: Pipeline Approval
                      org_id: test-org
                      project_id: test-project
                      rego: ""
                      updated: 1636669297674
                    status: error
                  - deny_messages:
                    - deployment stage 'example-stage' does not have a HarnessApproval
                      step
[...]
