{"openapi":"3.0.3","info":{"title":"Governance Policy Management API","description":"Read and manage OPA Governance policies, policy sets and evaluations","version":"1.2.0"},"servers":[{"url":"https://app.harness.io/gateway/pm/"}],"paths":{"/api/v1/dashboard":{"get":{"tags":["dashboard"],"description":"Get metrics about policies, policy sets and evaluations","operationId":"dashboard#metrics","parameters":[{"name":"range","in":"query","description":"The time period over which to aggregate dashboard data. Can be: 24 hours, 7 days or 30 days","allowEmptyValue":true,"schema":{"type":"string","description":"The time period over which to aggregate dashboard data. Can be: 24 hours, 7 days or 30 days","default":"30d","example":"30d","enum":["24h","7d","30d"]},"example":"30d"},{"name":"accountIdentifier","in":"query","description":"Harness account ID","allowEmptyValue":true,"schema":{"type":"string","description":"Harness account ID","default":"","example":"eBqAoNchMLKigC_qZ5EdC"},"example":"eBqAoNchMLKigC_qZ5EdC"},{"name":"orgIdentifier","in":"query","description":"Harness organization ID","allowEmptyValue":true,"schema":{"type":"string","description":"Harness organization ID","default":"","example":"test-org"},"example":"test-org"},{"name":"projectIdentifier","in":"query","description":"Harness project ID","allowEmptyValue":true,"schema":{"type":"string","description":"Harness project ID","default":"","example":"test-project"},"example":"test-project"}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardMetrics"},"example":{"aggregates":[{"error":1201513832267580740,"pass":2920020791307846359,"time":461119712411546138,"warning":6971582622373151866},{"error":1201513832267580740,"pass":2920020791307846359,"time":461119712411546138,"warning":6971582622373151866},{"error":1201513832267580740,"pass":2920020791307846359,"time":461119712411546138,"warning":6971582622373151866}],"policy_health":{"total_evaluation_count":7467880620589340301,"total_evaluation_entity_count":{"error":4962770580155356801,"pass":1838564234748219477,"warning":6712404284550845579},"total_policy_count":1018281497905076142,"total_policy_set_count":4767159674574934953,"total_policy_set_entity_count":{"A ut.":8823333786778254735}}}}}},"400":{"description":"BadRequest: Bad Request response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized: Unauthorized response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden: Forbidden response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"NotFound: Not Found response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"InternalServer: Internal Server Error response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"502":{"description":"BadGateway: Bad Gateway response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"jwt_header_Authorization":["core_governancePolicy_view","core_governancePolicy_edit","core_governancePolicy_delete","core_governancePolicySets_view","core_governancePolicySets_edit","core_governancePolicySets_delete","core_governancePolicySets_evaluate","core_governance_admin"]}]}},"/api/v1/evaluate":{"post":{"tags":["evaluate"],"description":"Evaluate arbitrary rego","operationId":"evaluate#evaluate","parameters":[{"name":"accountIdentifier","in":"query","description":"Harness account ID","allowEmptyValue":true,"schema":{"type":"string","description":"Harness account ID","default":"","example":"eBqAoNchMLKigC_qZ5EdC"},"example":"eBqAoNchMLKigC_qZ5EdC"},{"name":"orgIdentifier","in":"query","description":"Harness organization ID","allowEmptyValue":true,"schema":{"type":"string","description":"Harness organization ID","default":"","example":"test-org"},"example":"test-org"},{"name":"projectIdentifier","in":"query","description":"Harness project ID","allowEmptyValue":true,"schema":{"type":"string","description":"Harness project ID","default":"","example":"test-project"},"example":"test-project"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EvaluateRequestBody"},"example":{"input":"{\"message\": \"everyone\"}","rego":"package test\ndeny[\"should say hello world\"] {input.message != \"world\"}"}}}},"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EvaluatedPolicy"},"example":{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"}}}},"400":{"description":"PolicySetNotFound: Bad Request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized: Unauthorized response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden: Forbidden response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"NotFound: Not Found response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"InternalServer: Internal Server Error response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"502":{"description":"BadGateway: Bad Gateway response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"jwt_header_Authorization":["core_governancePolicy_view","core_governancePolicy_edit","core_governancePolicy_delete","core_governancePolicySets_view","core_governancePolicySets_edit","core_governancePolicySets_delete","core_governancePolicySets_evaluate","core_governance_admin"]}]}},"/api/v1/evaluate-by-ids":{"post":{"tags":["evaluate"],"description":"Evaluate policy sets by ID","operationId":"evaluate#evaluate-by-ids","parameters":[{"name":"accountIdentifier","in":"query","description":"Harness account ID","allowEmptyValue":true,"schema":{"type":"string","description":"Harness account ID","default":"","example":"eBqAoNchMLKigC_qZ5EdC"},"example":"eBqAoNchMLKigC_qZ5EdC"},{"name":"orgIdentifier","in":"query","description":"Harness organization ID","allowEmptyValue":true,"schema":{"type":"string","description":"Harness organization ID","default":"","example":"test-org"},"example":"test-org"},{"name":"projectIdentifier","in":"query","description":"Harness project ID","allowEmptyValue":true,"schema":{"type":"string","description":"Harness project ID","default":"","example":"test-project"},"example":"test-project"},{"name":"entity","in":"query","description":"User-supplied global identifier of the entity under evaluation","allowEmptyValue":true,"schema":{"type":"string","description":"User-supplied global identifier of the entity under evaluation","default":"","example":"7bbca5d4-e9f2-4955-9b2a-019ec4d3645e"},"example":"7bbca5d4-e9f2-4955-9b2a-019ec4d3645e"},{"name":"entityMetadata","in":"query","description":"User-supplied additional metadata for the entity under evaluation","allowEmptyValue":true,"schema":{"type":"string","description":"User-supplied additional metadata for the entity under evaluation","default":"","example":"{\"name\":\"test-entity\"}"},"example":"{\"name\":\"test-entity\"}"},{"name":"principalIdentifier","in":"query","description":"Identifier of the principal that triggered the evaluation - must be specified in conjunction with 'principalType'","allowEmptyValue":true,"schema":{"type":"string","description":"Identifier of the principal that triggered the evaluation - must be specified in conjunction with 'principalType'","default":"","example":"aaabbbcccddd"},"example":"aaabbbcccddd"},{"name":"principalType","in":"query","description":"Type of principal that triggered the evaluation - must be specified in conjunction with 'principalIdentifier'","allowEmptyValue":true,"schema":{"type":"string","description":"Type of principal that triggered the evaluation - must be specified in conjunction with 'principalIdentifier'","default":"","example":"USER"},"example":"USER"},{"name":"userIdentifier","in":"query","description":"Deprecated: Please use 'principalIdentifier' and 'principalType' instead","allowEmptyValue":true,"schema":{"type":"string","description":"Deprecated: Please use 'principalIdentifier' and 'principalType' instead","default":"","example":"Voluptas qui veniam."},"example":"Nisi facere eaque."},{"name":"ids","in":"query","description":"Comma-separated list of identifiers for the policy sets that should be evaluated, with account. or org. prefixes if needed","allowEmptyValue":true,"required":true,"schema":{"type":"string","description":"Comma-separated list of identifiers for the policy sets that should be evaluated, with account. or org. prefixes if needed","example":"policyset-1,policyset-2,policyset-3","minLength":1},"example":"policyset-1,policyset-2,policyset-3"}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Evaluation"},"example":{"account_id":"XRQAjvT37acOiXx9PRaQMF","action":"onrun","created":1636370209475,"details":[{"account_id":"eBqAoNchMLKigC_qZ5EdC","action":"onrun","created":1636669297674,"description":"Captures critical production policies","details":[{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"},{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"},{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"}],"enabled":true,"identifier":"policyset-1","name":"Production Policies","org_id":"test-org","project_id":"test-project","status":"error","type":"pipeline","updated":1636669297674},{"account_id":"eBqAoNchMLKigC_qZ5EdC","action":"onrun","created":1636669297674,"description":"Captures critical production policies","details":[{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"},{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"},{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"}],"enabled":true,"identifier":"policyset-1","name":"Production Policies","org_id":"test-org","project_id":"test-project","status":"error","type":"pipeline","updated":1636669297674},{"account_id":"eBqAoNchMLKigC_qZ5EdC","action":"onrun","created":1636669297674,"description":"Captures critical production policies","details":[{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"},{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"},{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"}],"enabled":true,"identifier":"policyset-1","name":"Production Policies","org_id":"test-org","project_id":"test-project","status":"error","type":"pipeline","updated":1636669297674},{"account_id":"eBqAoNchMLKigC_qZ5EdC","action":"onrun","created":1636669297674,"description":"Captures critical production policies","details":[{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"},{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"},{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"}],"enabled":true,"identifier":"policyset-1","name":"Production Policies","org_id":"test-org","project_id":"test-project","status":"error","type":"pipeline","updated":1636669297674}],"entity":"7bbca5d4-e9f2-4955-9b2a-019ec4d3645e","entity_metadata":"7bbca5d4-e9f2-4955-9b2a-019ec4d3645e","id":123,"input":"","org_id":"test-org","project_id":"test-project","status":"error","type":"pipeline"}}}},"400":{"description":"PolicySetNotFound: Bad Request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized: Unauthorized response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden: Forbidden response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"NotFound: Not Found response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"InternalServer: Internal Server Error response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"502":{"description":"BadGateway: Bad Gateway response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"jwt_header_Authorization":["core_governancePolicy_view","core_governancePolicy_edit","core_governancePolicy_delete","core_governancePolicySets_view","core_governancePolicySets_edit","core_governancePolicySets_delete","core_governancePolicySets_evaluate","core_governance_admin"]}]}},"/api/v1/evaluate-by-type":{"post":{"tags":["evaluate"],"description":"Evaluate all policy sets of a specified type","operationId":"evaluate#evaluate-by-type","parameters":[{"name":"accountIdentifier","in":"query","description":"Harness account ID","allowEmptyValue":true,"schema":{"type":"string","description":"Harness account ID","default":"","example":"eBqAoNchMLKigC_qZ5EdC"},"example":"eBqAoNchMLKigC_qZ5EdC"},{"name":"orgIdentifier","in":"query","description":"Harness organization ID","allowEmptyValue":true,"schema":{"type":"string","description":"Harness organization ID","default":"","example":"test-org"},"example":"test-org"},{"name":"projectIdentifier","in":"query","description":"Harness project ID","allowEmptyValue":true,"schema":{"type":"string","description":"Harness project ID","default":"","example":"test-project"},"example":"test-project"},{"name":"entity","in":"query","description":"User-supplied global identifier of the entity under evaluation","allowEmptyValue":true,"schema":{"type":"string","description":"User-supplied global identifier of the entity under evaluation","default":"","example":"7bbca5d4-e9f2-4955-9b2a-019ec4d3645e"},"example":"7bbca5d4-e9f2-4955-9b2a-019ec4d3645e"},{"name":"entityMetadata","in":"query","description":"User-supplied additional metadata for the entity under evaluation","allowEmptyValue":true,"schema":{"type":"string","description":"User-supplied additional metadata for the entity under evaluation","default":"","example":"{\"name\":\"test-entity\"}"},"example":"{\"name\":\"test-entity\"}"},{"name":"type","in":"query","description":"Type of entity under evaluation","allowEmptyValue":true,"required":true,"schema":{"type":"string","description":"Type of entity under evaluation","example":"pipeline","minLength":1},"example":"pipeline"},{"name":"action","in":"query","description":"Action that triggered the evaluation","allowEmptyValue":true,"required":true,"schema":{"type":"string","description":"Action that triggered the evaluation","example":"onrun","minLength":1},"example":"onrun"},{"name":"principalIdentifier","in":"query","description":"Identifier of the principal that triggered the evaluation - must be specified in conjunction with 'principalType'","allowEmptyValue":true,"schema":{"type":"string","description":"Identifier of the principal that triggered the evaluation - must be specified in conjunction with 'principalType'","default":"","example":"aaabbbcccddd"},"example":"aaabbbcccddd"},{"name":"principalType","in":"query","description":"Type of principal that triggered the evaluation - must be specified in conjunction with 'principalIdentifier'","allowEmptyValue":true,"schema":{"type":"string","description":"Type of principal that triggered the evaluation - must be specified in conjunction with 'principalIdentifier'","default":"","example":"USER"},"example":"USER"},{"name":"userIdentifier","in":"query","description":"Deprecated: Please use 'principalIdentifier' and 'principalType' instead","allowEmptyValue":true,"schema":{"type":"string","description":"Deprecated: Please use 'principalIdentifier' and 'principalType' instead","default":"","example":"Molestias nostrum dolor."},"example":"Explicabo ea excepturi natus unde dolores."}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Evaluation"},"example":{"account_id":"XRQAjvT37acOiXx9PRaQMF","action":"onrun","created":1636370209475,"details":[{"account_id":"eBqAoNchMLKigC_qZ5EdC","action":"onrun","created":1636669297674,"description":"Captures critical production policies","details":[{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"},{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"},{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"}],"enabled":true,"identifier":"policyset-1","name":"Production Policies","org_id":"test-org","project_id":"test-project","status":"error","type":"pipeline","updated":1636669297674},{"account_id":"eBqAoNchMLKigC_qZ5EdC","action":"onrun","created":1636669297674,"description":"Captures critical production policies","details":[{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"},{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"},{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"}],"enabled":true,"identifier":"policyset-1","name":"Production Policies","org_id":"test-org","project_id":"test-project","status":"error","type":"pipeline","updated":1636669297674},{"account_id":"eBqAoNchMLKigC_qZ5EdC","action":"onrun","created":1636669297674,"description":"Captures critical production policies","details":[{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"},{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"},{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"}],"enabled":true,"identifier":"policyset-1","name":"Production Policies","org_id":"test-org","project_id":"test-project","status":"error","type":"pipeline","updated":1636669297674},{"account_id":"eBqAoNchMLKigC_qZ5EdC","action":"onrun","created":1636669297674,"description":"Captures critical production policies","details":[{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"},{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"},{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"}],"enabled":true,"identifier":"policyset-1","name":"Production Policies","org_id":"test-org","project_id":"test-project","status":"error","type":"pipeline","updated":1636669297674}],"entity":"7bbca5d4-e9f2-4955-9b2a-019ec4d3645e","entity_metadata":"7bbca5d4-e9f2-4955-9b2a-019ec4d3645e","id":123,"input":"","org_id":"test-org","project_id":"test-project","status":"error","type":"pipeline"}}}},"400":{"description":"PolicySetNotFound: Bad Request response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized: Unauthorized response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Forbidden: Forbidden response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"NotFound: Not Found response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"InternalServer: Internal Server Error response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}},"502":{"description":"BadGateway: Bad Gateway response.","content":{"application/vnd.goa.error":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"security":[{"jwt_header_Authorization":["core_governancePolicy_view","core_governancePolicy_edit","core_governancePolicy_delete","core_governancePolicySets_view","core_governancePolicySets_edit","core_governancePolicySets_delete","core_governancePolicySets_evaluate","core_governance_admin"]}]}},"/api/v1/evaluations":{"get":{"tags":["evaluations"],"description":"List evaluations","operationId":"evaluations#list","parameters":[{"name":"accountIdentifier","in":"query","description":"Harness account ID","allowEmptyValue":true,"schema":{"type":"string","description":"Harness account ID","default":"","example":"eBqAoNchMLKigC_qZ5EdC"},"example":"eBqAoNchMLKigC_qZ5EdC"},{"name":"orgIdentifier","in":"query","description":"Harness organization ID","allowEmptyValue":true,"schema":{"type":"string","description":"Harness organization ID","default":"","example":"test-org"},"example":"test-org"},{"name":"projectIdentifier","in":"query","description":"Harness project ID","allowEmptyValue":true,"schema":{"type":"string","description":"Harness project ID","default":"","example":"test-project"},"example":"test-project"},{"name":"per_page","in":"query","description":"Number of results per page","allowEmptyValue":true,"schema":{"type":"integer","description":"Number of results per page","default":50,"example":20,"minimum":1,"maximum":100},"example":20},{"name":"page","in":"query","description":"Page number (starting from 0)","allowEmptyValue":true,"schema":{"type":"integer","description":"Page number (starting from 0)","default":0,"example":4,"minimum":0},"example":4},{"name":"entity","in":"query","description":"Filter by the entity associated with the evaluation","allowEmptyValue":true,"schema":{"type":"string","description":"Filter by the entity associated with the evaluation","example":"7bbca5d4-e9f2-4955-9b2a-019ec4d3645e"},"example":"7bbca5d4-e9f2-4955-9b2a-019ec4d3645e"},{"name":"type","in":"query","description":"Filter by the type associated with the evaluation","allowEmptyValue":true,"schema":{"type":"string","description":"Filter by the type associated with the evaluation","example":"pipeline"},"example":"pipeline"},{"name":"action","in":"query","description":"Filter by the action associated with the evaluation","allowEmptyValue":true,"schema":{"type":"string","description":"Filter by the action associated with the evaluation","example":"onrun"},"example":"onrun"},{"name":"last_seen","in":"query","description":"Retrieve results starting after this last-seen result","allowEmptyValue":true,"schema":{"type":"integer","description":"Retrieve results starting after this last-seen result","example":123,"format":"int64"},"example":123},{"name":"includeChildScopes","in":"query","description":"When true, evaluations from child scopes will be inculded in the results","allowEmptyValue":true,"schema":{"type":"boolean","description":"When true, evaluations from child scopes will be inculded in the results","default":false,"example":false},"example":false}],"responses":{"200":{"description":"OK response.","headers":{"Link":{"description":"Link-based paging","required":true,"schema":{"type":"string","description":"Link-based paging","example":""},"example":""},"X-Page-Index":{"description":"Page number","required":true,"schema":{"type":"integer","description":"Page number","example":4,"format":"int64"},"example":4},"X-Page-Item-Count":{"description":"Number of results in this page","required":true,"schema":{"type":"integer","description":"Number of results in this page","example":20,"format":"int64"},"example":20},"X-Page-Size":{"description":"Requested page size","required":true,"schema":{"type":"integer","description":"Requested page size","example":20,"format":"int64"},"example":20},"X-Total-Items":{"description":"Total results available","required":true,"schema":{"type":"integer","description":"Total results available","example":230,"format":"int64"},"example":230},"X-Total-Pages":{"description":"Total pages available","required":true,"schema":{"type":"integer","description":"Total pages available","example":12,"format":"int64"},"example":12}},"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Evaluation2"},"example":[{"account_id":"XRQAjvT37acOiXx9PRaQMF","action":"onrun","created":1636370209475,"details":[{"account_id":"eBqAoNchMLKigC_qZ5EdC","action":"onrun","created":1636669297674,"description":"Captures critical production policies","details":[{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"},{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"}],"enabled":true,"identifier":"policyset-1","name":"Production Policies","org_id":"test-org","project_id":"test-project","status":"error","type":"pipeline","updated":1636669297674},{"account_id":"eBqAoNchMLKigC_qZ5EdC","action":"onrun","created":1636669297674,"description":"Captures critical production policies","details":[{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"},{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"}],"enabled":true,"identifier":"policyset-1","name":"Production Policies","org_id":"test-org","project_id":"test-project","status":"error","type":"pipeline","updated":1636669297674},{"account_id":"eBqAoNchMLKigC_qZ5EdC","action":"onrun","created":1636669297674,"description":"Captures critical production policies","details":[{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"},{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"}],"enabled":true,"identifier":"policyset-1","name":"Production Policies","org_id":"test-org","project_id":"test-project","status":"error","type":"pipeline","updated":1636669297674}],"entity":"7bbca5d4-e9f2-4955-9b2a-019ec4d3645e","entity_metadata":"7bbca5d4-e9f2-4955-9b2a-019ec4d3645e","id":123,"input":"","org_id":"test-org","project_id":"test-project","status":"error","type":"pipeline"},{"account_id":"XRQAjvT37acOiXx9PRaQMF","action":"onrun","created":1636370209475,"details":[{"account_id":"eBqAoNchMLKigC_qZ5EdC","action":"onrun","created":1636669297674,"description":"Captures critical production policies","details":[{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"},{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"}],"enabled":true,"identifier":"policyset-1","name":"Production Policies","org_id":"test-org","project_id":"test-project","status":"error","type":"pipeline","updated":1636669297674},{"account_id":"eBqAoNchMLKigC_qZ5EdC","action":"onrun","created":1636669297674,"description":"Captures critical production policies","details":[{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"},{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"}],"enabled":true,"identifier":"policyset-1","name":"Production Policies","org_id":"test-org","project_id":"test-project","status":"error","type":"pipeline","updated":1636669297674},{"account_id":"eBqAoNchMLKigC_qZ5EdC","action":"onrun","created":1636669297674,"description":"Captures critical production policies","details":[{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"},{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"}],"enabled":true,"identifier":"policyset-1","name":"Production Policies","org_id":"test-org","project_id":"test-project","status":"error","type":"pipeline","updated":1636669297674}],"entity":"7bbca5d4-e9f2-4955-9b2a-019ec4d3645e","entity_metadata":"7bbca5d4-e9f2-4955-9b2a-019ec4d3645e","id":123,"input":"","org_id":"test-org","project_id":"test-project","status":"error","type":"pipeline"}]},"example":[{"account_id":"XRQAjvT37acOiXx9PRaQMF","action":"onrun","created":1636370209475,"details":[{"account_id":"eBqAoNchMLKigC_qZ5EdC","action":"onrun","created":1636669297674,"description":"Captures critical production policies","details":[{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"},{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"}],"enabled":true,"identifier":"policyset-1","name":"Production Policies","org_id":"test-org","project_id":"test-project","status":"error","type":"pipeline","updated":1636669297674},{"account_id":"eBqAoNchMLKigC_qZ5EdC","action":"onrun","created":1636669297674,"description":"Captures critical production policies","details":[{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"},{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"}],"enabled":true,"identifier":"policyset-1","name":"Production Policies","org_id":"test-org","project_id":"test-project","status":"error","type":"pipeline","updated":1636669297674},{"account_id":"eBqAoNchMLKigC_qZ5EdC","action":"onrun","created":1636669297674,"description":"Captures critical production policies","details":[{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"},{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"}],"enabled":true,"identifier":"policyset-1","name":"Production Policies","org_id":"test-org","project_id":"test-project","status":"error","type":"pipeline","updated":1636669297674}],"entity":"7bbca5d4-e9f2-4955-9b2a-019ec4d3645e","entity_metadata":"7bbca5d4-e9f2-4955-9b2a-019ec4d3645e","id":123,"input":"","org_id":"test-org","project_id":"test-project","status":"error","type":"pipeline"},{"account_id":"XRQAjvT37acOiXx9PRaQMF","action":"onrun","created":1636370209475,"details":[{"account_id":"eBqAoNchMLKigC_qZ5EdC","action":"onrun","created":1636669297674,"description":"Captures critical production policies","details":[{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"},{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"}],"enabled":true,"identifier":"policyset-1","name":"Production Policies","org_id":"test-org","project_id":"test-project","status":"error","type":"pipeline","updated":1636669297674},{"account_id":"eBqAoNchMLKigC_qZ5EdC","action":"onrun","created":1636669297674,"description":"Captures critical production policies","details":[{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"},{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"}],"enabled":true,"identifier":"policyset-1","name":"Production Policies","org_id":"test-org","project_id":"test-project","status":"error","type":"pipeline","updated":1636669297674},{"account_id":"eBqAoNchMLKigC_qZ5EdC","action":"onrun","created":1636669297674,"description":"Captures critical production policies","details":[{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"},{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"}],"enabled":true,"identifier":"policyset-1","name":"Production Policies","org_id":"test-org","project_id":"test-project","status":"error","type":"pipeline","updated":1636669297674}],"entity":"7bbca5d4-e9f2-4955-9b2a-019ec4d3645e","entity_metadata":"7bbca5d4-e9f2-4955-9b2a-019ec4d3645e","id":123,"input":"","org_id":"test-org","project_id":"test-project","status":"error","type":"pipeline"},{"account_id":"XRQAjvT37acOiXx9PRaQMF","action":"onrun","created":1636370209475,"details":[{"account_id":"eBqAoNchMLKigC_qZ5EdC","action":"onrun","created":1636669297674,"description":"Captures critical production policies","details":[{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"},{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"}],"enabled":true,"identifier":"policyset-1","name":"Production Policies","org_id":"test-org","project_id":"test-project","status":"error","type":"pipeline","updated":1636669297674},{"account_id":"eBqAoNchMLKigC_qZ5EdC","action":"onrun","created":1636669297674,"description":"Captures critical production policies","details":[{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"test-project","rego":"","updated":1636669297674},"status":"error"},{"deny_messages":["deployment stage 'example-stage' does not have a HarnessApproval step","deployment stage 'example-stage' has step 'run-script' that is forbidden type 'ShellScript'"],"error":"policy.rego:25: rego_parse_error: non-terminated string m == \"test","output":"{\n    \"deny\": [\n        \"deployment stage 'deploy' does not have a HarnessApproval step\"\n    ],\n    \"stages_with_approval\": []\n}","policy":{"account_id":"eBqAoNchMLKigC_qZ5EdC","created":1636669297674,"git_commit_sha":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_connector_ref":".","git_default_branch":"main","git_default_branch_update_error":{"explanation":"File with given filepath [file.rego] already exists in Github, thus couldn't create a new file","hint":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main].","message":"Please check if there's already a file [file.rego] in Github repository [rego-demo] for the given filepath and branch [main]."},"git_default_branch_updated":1636669297674,"git_file_id":"1369b45c20fc685113adcfd1a08a914180ff3c0d","git_file_url":"","git_path":".harness/policy.rego","git_repo":"github.com/org/repo,omitempty","identifier":"policy-1","name":"Pipeline Approval","org_id":"test-org","project_id":"t
[...]
