openapi: 3.0.1
info:
  title: CD NextGen API Reference
  description: This is the Open Api Spec 3 for the NextGen Manager. This is under
    active development. Beware of the breaking change with respect to the generated
    code stub
  termsOfService: https://harness.io/terms-of-use/
  contact:
    email: contact@harness.io
  version: "3.0"
servers:
- url: https://app.harness.io/gateway/ng/api
tags:
- name: Accounts
  description: This contains APIs related to accounts as defined in Harness
- name: Connectors
  description: This contains APIs related to Connectors as defined in Harness
- name: Enforcement
  description: This contains APIs related to enforcement as defined in Harness
- name: Licenses
  description: This contains APIs related to licenses as defined in Harness
- name: AuthenticationSettings
  description: This contains APIs related to Authentication settings as defined in
    Harness
- name: gcp clusters
  description: This contains APIs related to gcp clusters
- name: Organization
  description: This contains APIs related to Organization as defined in Harness
- name: Project
  description: This contains APIs related to Project as defined in Harness
- name: Feedback
  description: This contains APIs related to feedback as defined in Harness
paths:
  /accounts/{accountIdentifier}/name:
    put:
      tags:
      - Accounts
      summary: Update Account Name
      operationId: updateAccountNameNG
      parameters:
      - name: accountIdentifier
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Returns an account DTO
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOAccount'
  /accounts/{accountIdentifier}/default-experience:
    put:
      tags:
      - Accounts
      summary: Update Default Experience
      operationId: updateAccountDefaultExperienceNG
      parameters:
      - name: accountIdentifier
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Returns an account DTO
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOAccount'
  /accounts/{accountIdentifier}:
    get:
      tags:
      - Accounts
      summary: Gets an account
      operationId: getAccountNG
      parameters:
      - name: accountIdentifier
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Returns an account DTO
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOAccount'
  /pipelines/configuration/steps:
    get:
      operationId: getSteps
      parameters:
      - name: serviceDefinitionType
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - KUBERNETES
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOStepCategory'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOStepCategory'
  /pipelines/configuration/provisioner-steps:
    get:
      summary: Get provisioner steps
      operationId: getProvisionerSteps
      responses:
        default:
          description: Returns list of provisioner steps
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOStepCategory'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOStepCategory'
  /pipelines/configuration/strategies/provisioner-yaml-snippets:
    get:
      summary: Gets Yaml for Execution Strategy based on Provisioner Type
      operationId: getProvisionerExecutionStrategyYaml
      parameters:
      - name: provisionerType
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - TERRAFORM
          - CLOUD_FORMATION
          - AZURE_ARM
          - SHELL_SCRIPT_PROVISIONER
      responses:
        default:
          description: Returns execution strategy yaml
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOString'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOString'
  /pipelines/configuration/serviceDefinitionTypes:
    get:
      operationId: getServiceDefinitionTypes
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOListServiceDefinitionType'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOListServiceDefinitionType'
  /pipelines/configuration/strategies:
    get:
      operationId: getExecutionStrategyList
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOMapServiceDefinitionTypeListExecutionStrategyType'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOMapServiceDefinitionTypeListExecutionStrategyType'
  /pipelines/configuration/strategies/yaml-snippets:
    get:
      operationId: getExecutionStrategyYaml
      parameters:
      - name: serviceDefinitionType
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - KUBERNETES
      - name: strategyType
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - BASIC
          - CANARY
          - BLUE_GREEN
          - ROLLING
          - DEFAULT
      - name: includeVerify
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOString'
            application/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOString'
  /connectors/testGitRepoConnection/{identifier}:
    post:
      tags:
      - Connectors
      summary: Tests the created Connector's connection
      operationId: getTestGitRepoConnectionResult
      parameters:
      - name: accountIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: repoURL
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Returns the connector validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorValidationResult'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorValidationResult'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorValidationResult'
  /connectors/{identifier}/validation-params:
    get:
      tags:
      - Connectors
      operationId: getConnectorValidationParams
      parameters:
      - name: identifier
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: accountIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
  /connectors/getceawstemplateurl:
    post:
      tags:
      - Connectors
      summary: Get the Template URL of connector
      operationId: getCEAwsTemplate
      parameters:
      - name: eventsEnabled
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: curEnabled
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: optimizationEnabled
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Returns the template URL of connector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOString'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOString'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOString'
  /connectors/fieldValues:
    get:
      tags:
      - Connectors
      summary: Get the allowed field values by Connector Type
      operationId: getAllAllowedFieldValues
      parameters:
      - name: connectorType
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - K8sCluster
          - Git
          - Splunk
          - AppDynamics
          - Prometheus
          - Dynatrace
          - Vault
          - AzureKeyVault
          - DockerRegistry
          - Local
          - AwsKms
          - GcpKms
          - AwsSecretManager
          - Gcp
          - Aws
          - Artifactory
          - Jira
          - Nexus
          - Github
          - Gitlab
          - Bitbucket
          - Codecommit
          - CEAws
          - CEAzure
          - GcpCloudCost
          - CEK8sCluster
          - HttpHelmRepo
          - NewRelic
          - Datadog
          - SumoLogic
          - PagerDuty
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Returns the allowed fields for connector type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOFieldValues'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOFieldValues'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOFieldValues'
  /connectors/testConnection/{identifier}:
    post:
      tags:
      - Connectors
      summary: Tests the connection of the connector by Identifier
      operationId: getTestConnectionResult
      parameters:
      - name: accountIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: branch
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: repoIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: getDefaultFromOtherRepo
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Returns the connector validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorValidationResult'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorValidationResult'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorValidationResult'
  /connectors/stats:
    get:
      tags:
      - Connectors
      summary: "gets the connector's statistics by accountIdentifier, projectIdentifier\
        \ and orgIdentifier"
      operationId: getConnectorStatistics
      parameters:
      - name: accountIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: branch
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: repoIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: getDefaultFromOtherRepo
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Returns the Connector's statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorStatistics'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorStatistics'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorStatistics'
  /connectors/listbyfqn:
    post:
      tags:
      - Connectors
      summary: Get the list of connectors by FQN satisfying the criteria (if any)
        in the request
      operationId: listConnectorByFQN
      parameters:
      - name: accountIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        description: List of connectorsFQN as strings
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
          text/yaml:
            schema:
              type: array
              items:
                type: string
          text/html:
            schema:
              type: array
              items:
                type: string
          text/plain:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Returns the list of connectors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOListConnectorResponse'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOListConnectorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOListConnectorResponse'
  /connectors/catalogue:
    get:
      tags:
      - Connectors
      summary: gets the connector catalogue by accountIdentifier
      operationId: getConnectorCatalogue
      parameters:
      - name: accountIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Returns the connector catalogue response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorCatalogueRespone'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorCatalogueRespone'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorCatalogueRespone'
  /connectors/validateUniqueIdentifier:
    get:
      tags:
      - Connectors
      summary: validate the Connector by accountIdentifier and connectorIdentifier
      operationId: validateTheIdentifierIsUnique
      parameters:
      - name: accountIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: identifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Returns the boolean status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
  /connectors/{identifier}:
    get:
      tags:
      - Connectors
      summary: get the Connector by accountIdentifier and connectorIdentifier
      operationId: getConnector
      parameters:
      - name: accountIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: branch
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: repoIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: getDefaultFromOtherRepo
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Returns the connector with the requested accountIdentifier
            and connectorIdentifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorResponse'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorResponse'
    delete:
      tags:
      - Connectors
      summary: Deletes Connector by identifier
      operationId: deleteConnector
      parameters:
      - name: accountIdentifier
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: branch
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: repoIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: rootFolder
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: filePath
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: commitMsg
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: lastObjectId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Returns the boolean status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
  /connectors:
    get:
      tags:
      - Connectors
      summary: Get the list of connectors satisfying the criteria (if any) in the
        request
      operationId: getConnectorList
      parameters:
      - name: pageIndex
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 100
      - name: accountIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: searchTerm
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: type
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - K8sCluster
          - Git
          - Splunk
          - AppDynamics
          - Prometheus
          - Dynatrace
          - Vault
          - AzureKeyVault
          - DockerRegistry
          - Local
          - AwsKms
          - GcpKms
          - AwsSecretManager
          - Gcp
          - Aws
          - Artifactory
          - Jira
          - Nexus
          - Github
          - Gitlab
          - Bitbucket
          - Codecommit
          - CEAws
          - CEAzure
          - GcpCloudCost
          - CEK8sCluster
          - HttpHelmRepo
          - NewRelic
          - Datadog
          - SumoLogic
          - PagerDuty
      - name: category
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - CLOUD_PROVIDER
          - SECRET_MANAGER
          - CLOUD_COST
          - ARTIFACTORY
          - CODE_REPO
          - MONITORING
          - TICKETING
      - name: source_category
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - CLOUD_PROVIDER
          - SECRET_MANAGER
          - CLOUD_COST
          - ARTIFACTORY
          - CODE_REPO
          - MONITORING
          - TICKETING
      - name: branch
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: repoIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: getDefaultFromOtherRepo
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Returns the list of connectors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageResponseConnectorResponse'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageResponseConnectorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageResponseConnectorResponse'
    put:
      tags:
      - Connectors
      summary: Updates the Connector
      operationId: putConnector
      parameters:
      - name: accountIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: branch
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: repoIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: rootFolder
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: filePath
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: commitMsg
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: lastObjectId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: baseBranch
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        description: This is the updated Connector. This should have all the fields
          not just the updated ones
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Connector'
          text/yaml:
            schema:
              $ref: '#/components/schemas/Connector'
          text/html:
            schema:
              $ref: '#/components/schemas/Connector'
          text/plain:
            schema:
              $ref: '#/components/schemas/Connector'
        required: true
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Returns the updated Connector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorResponse'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorResponse'
    post:
      tags:
      - Connectors
      summary: Creates a Connector
      operationId: createConnector
      parameters:
      - name: accountIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: branch
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: repoIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: rootFolder
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: filePath
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: commitMsg
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: baseBranch
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        description: Details of the Connector to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Connector'
          text/yaml:
            schema:
              $ref: '#/components/schemas/Connector'
          text/html:
            schema:
              $ref: '#/components/schemas/Connector'
          text/plain:
            schema:
              $ref: '#/components/schemas/Connector'
        required: true
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Returns created Connector
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorResponse'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOConnectorResponse'
  /connectors/listV2:
    post:
      tags:
      - Connectors
      summary: Get the list of connectors satisfying the criteria (if any) in the
        request
      operationId: getConnectorListV2
      parameters:
      - name: pageIndex
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 100
      - name: accountIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: searchTerm
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: filterIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: includeAllConnectorsAvailableAtScope
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: branch
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: repoIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: getDefaultFromOtherRepo
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: getDistinctFromBranches
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      requestBody:
        description: Details of the filters applied
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorFilterProperties'
          text/yaml:
            schema:
              $ref: '#/components/schemas/ConnectorFilterProperties'
          text/html:
            schema:
              $ref: '#/components/schemas/ConnectorFilterProperties'
          text/plain:
            schema:
              $ref: '#/components/schemas/ConnectorFilterProperties'
        required: true
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Returns the list of connectors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageResponseConnectorResponse'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageResponseConnectorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageResponseConnectorResponse'
  /enforcement/client/usage/{featureRestrictionName}:
    put:
      operationId: getFeatureUsage
      parameters:
      - name: featureRestrictionName
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - TEST1
          - TEST2
          - TEST3
          - TEST4
          - TEST5
          - PERSPECTIVES
          - MULTIPLE_ORGANIZATIONS
          - MULTIPLE_PROJECTS
          - INTEGRATED_APPROVALS_WITH_HARNESS_UI
          - INTEGRATED_APPROVALS_WITH_JIRA
          - SECRET_MANAGERS
          - DEPLOYMENTS
          - SERVICES
          - BUILDS
          - SAML_SUPPORT
          - OAUTH_SUPPORT
          - LDAP_SUPPORT
          - TWO_FACTOR_AUTH_SUPPORT
          - CUSTOM_ROLES
          - CUSTOM_RESOURCE_GROUPS
          - K8S_BG_SWAP_SERVICES
          - K8S_BLUE_GREEN_DEPLOY
          - K8S_APPLY
          - K8S_DELETE
          - K8S_CANARY_DELETE
          - K8S_ROLLING_DEPLOY
          - K8S_CANARY_DEPLOY
          - K8S_SCALE
          - K8S_ROLLING_ROLLBACK
          - TERRAFORM_APPLY
          - TERRAFORM_PLAN
          - TERRAFORM_DESTROY
          - TERRAFORM_ROLLBACK
      - name: accountIdentifier
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestrictionMetadataDTO'
        required: true
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOFeatureRestrictionUsageDTO'
  /enforcement/client/custom/{featureRestrictionName}:
    put:
      operationId: evaluateCustomFeatureRestriction
      parameters:
      - name: featureRestrictionName
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - TEST1
          - TEST2
          - TEST3
          - TEST4
          - TEST5
          - PERSPECTIVES
          - MULTIPLE_ORGANIZATIONS
          - MULTIPLE_PROJECTS
          - INTEGRATED_APPROVALS_WITH_HARNESS_UI
          - INTEGRATED_APPROVALS_WITH_JIRA
          - SECRET_MANAGERS
          - DEPLOYMENTS
          - SERVICES
          - BUILDS
          - SAML_SUPPORT
          - OAUTH_SUPPORT
          - LDAP_SUPPORT
          - TWO_FACTOR_AUTH_SUPPORT
          - CUSTOM_ROLES
          - CUSTOM_RESOURCE_GROUPS
          - K8S_BG_SWAP_SERVICES
          - K8S_BLUE_GREEN_DEPLOY
          - K8S_APPLY
          - K8S_DELETE
          - K8S_CANARY_DELETE
          - K8S_ROLLING_DEPLOY
          - K8S_CANARY_DEPLOY
          - K8S_SCALE
          - K8S_ROLLING_ROLLBACK
          - TERRAFORM_APPLY
          - TERRAFORM_PLAN
          - TERRAFORM_DESTROY
          - TERRAFORM_ROLLBACK
      - name: accountIdentifier
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomRestrictionEvaluationDTO'
        required: true
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
  /enforcement/enabled:
    get:
      tags:
      - Enforcement
      summary: Gets List of Enabled Feature Restriction Detail for The Account
      operationId: getEnabledFeatureRestrictionDetailByAccountId
      parameters:
      - name: accountIdentifier
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Returns a list of freature restriction details DTO
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOListFeatureRestrictionDetails'
  /enforcement/{featureRestrictionName}/metadata:
    get:
      tags:
      - Enforcement
      operationId: getFeatureRestrictionMetadata
      parameters:
      - name: featureRestrictionName
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - TEST1
          - TEST2
          - TEST3
          - TEST4
          - TEST5
          - PERSPECTIVES
          - MULTIPLE_ORGANIZATIONS
          - MULTIPLE_PROJECTS
          - INTEGRATED_APPROVALS_WITH_HARNESS_UI
          - INTEGRATED_APPROVALS_WITH_JIRA
          - SECRET_MANAGERS
          - DEPLOYMENTS
          - SERVICES
          - BUILDS
          - SAML_SUPPORT
          - OAUTH_SUPPORT
          - LDAP_SUPPORT
          - TWO_FACTOR_AUTH_SUPPORT
          - CUSTOM_ROLES
          - CUSTOM_RESOURCE_GROUPS
          - K8S_BG_SWAP_SERVICES
          - K8S_BLUE_GREEN_DEPLOY
          - K8S_APPLY
          - K8S_DELETE
          - K8S_CANARY_DELETE
          - K8S_ROLLING_DEPLOY
          - K8S_CANARY_DEPLOY
          - K8S_SCALE
          - K8S_ROLLING_ROLLBACK
          - TERRAFORM_APPLY
          - TERRAFORM_PLAN
          - TERRAFORM_DESTROY
          - TERRAFORM_ROLLBACK
      - name: accountIdentifier
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
  /enforcement:
    post:
      tags:
      - Enforcement
      summary: Gets Feature Restriction Detail
      operationId: getFeatureRestrictionDetail
      parameters:
      - name: accountIdentifier
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeatureRestrictionDetailRequest'
        required: true
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Returns a feature restriction details DTO
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOFeatureRestrictionDetails'
  /enforcement/metadata:
    get:
      tags:
      - Enforcement
      summary: Gets All Feature Restriction Metadata
      operationId: getAllFeatureRestrictionMetadata
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Returns a list of feature restriction metadata dto
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOListFeatureRestrictionMetadata'
    post:
      tags:
      - Enforcement
      operationId: getFeatureRestrictionMetadataMap
      parameters:
      - name: accountIdentifier
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestrictionMetadataMapRequestDTO'
        required: true
      responses:
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Failure'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Failure'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            application/yaml:
              schema:
                $ref: '#/components/schemas/Error'
  /filters/{identifier}:
    get:
      operationId: get
      parameters:
      - name: accountIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: type
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - CONNECTOR
          - DELEGATEPROFILE
          - DELEGATE
          - PIPELINESETUP
          - PIPELINEEXECUTION
          - DEPLOYMENT
          - AUDIT
          - TEMPLATE
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOFilterDTO'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOFilterDTO'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOFilterDTO'
    delete:
      operationId: delete
      parameters:
      - name: accountIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: type
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - CONNECTOR
          - DELEGATEPROFILE
          - DELEGATE
          - PIPELINESETUP
          - PIPELINEEXECUTION
          - DEPLOYMENT
          - AUDIT
          - TEMPLATE
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
  /filters:
    get:
      operationId: list
      parameters:
      - name: pageIndex
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 100
      - name: accountIdentifier
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: type
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
          enum:
          - CONNECTOR
          - DELEGATEPROFILE
          - DELEGATE
          - PIPELINESETUP
          - PIPELINEEXECUTION
          - DEPLOYMENT
          - AUDIT
          - TEMPLATE
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageResponseFilterDTO'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageResponseFilterDTO'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageResponseFilterDTO'
    put:
      operationId: update
      parameters:
      - name: accountIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterDTO'
          text/yaml:
            schema:
              $ref: '#/components/schemas/FilterDTO'
          text/html:
            schema:
              $ref: '#/components/schemas/FilterDTO'
          text/plain:
            schema:
              $ref: '#/components/schemas/FilterDTO'
        required: true
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOFilterDTO'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOFilterDTO'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOFilterDTO'
    post:
      operationId: create
      parameters:
      - name: accountIdentifier
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterDTO'
          text/yaml:
            schema:
              $ref: '#/components/schemas/FilterDTO'
          text/html:
            schema:
              $ref: '#/components/schemas/FilterDTO'
          text/plain:
            schema:
              $ref: '#/components/schemas/FilterDTO'
        required: true
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOFilterDTO'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOFilterDTO'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOFilterDTO'
  /gitopsproviders/validateUniqueIdentifier:
    get:
      operationId: validateTheIdentifierIsUnique_1
      parameters:
      - name: accountIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: identifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
  /gitopsproviders/{identifier}:
    get:
      operationId: get_1
      parameters:
      - name: accountIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOGitOpsProviderResponseDTO'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOGitOpsProviderResponseDTO'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOGitOpsProviderResponseDTO'
    delete:
      operationId: delete_1
      parameters:
      - name: accountIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
  /gitopsproviders:
    put:
      operationId: update_1
      parameters:
      - name: accountIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: default
      - name: projectIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: branch
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: repoIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: rootFolder
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: filePath
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: commitMsg
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: baseBranch
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GitOpsProviderDTO'
          text/yaml:
            schema:
              $ref: '#/components/schemas/GitOpsProviderDTO'
          text/html:
            schema:
              $ref: '#/components/schemas/GitOpsProviderDTO'
          text/plain:
            schema:
              $ref: '#/components/schemas/GitOpsProviderDTO'
        required: true
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOGitOpsProviderResponseDTO'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOGitOpsProviderResponseDTO'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOGitOpsProviderResponseDTO'
    post:
      operationId: create_1
      parameters:
      - name: accountIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: default
      - name: projectIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: branch
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: repoIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: rootFolder
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: filePath
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: commitMsg
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: baseBranch
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GitOpsProviderDTO'
          text/yaml:
            schema:
              $ref: '#/components/schemas/GitOpsProviderDTO'
          text/html:
            schema:
              $ref: '#/components/schemas/GitOpsProviderDTO'
          text/plain:
            schema:
              $ref: '#/components/schemas/GitOpsProviderDTO'
        required: true
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOGitOpsProviderResponseDTO'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOGitOpsProviderResponseDTO'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOGitOpsProviderResponseDTO'
  /gitopsproviders/list:
    get:
      operationId: list_1
      parameters:
      - name: pageIndex
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 100
      - name: sort
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: accountIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: searchTerm
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: type
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - CONNECTED_ARGO_PROVIDER
          - MANAGED_ARGO_PROVIDER
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageResponseGitOpsProviderResponseDTO'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageResponseGitOpsProviderResponseDTO'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageResponseGitOpsProviderResponseDTO'
  /git-sync-branch/listBranchesWithStatus:
    get:
      operationId: listBranchesWithStatusForRepo
      parameters:
      - name: yamlGitConfigIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: accountIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: searchTerm
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: ""
      - name: branchSyncStatus
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - SYNCED
          - SYNCING
          - UNSYNCED
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOGitBranchListDTO'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOGitBranchListDTO'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOGitBranchListDTO'
  /git-sync-branch/sync:
    post:
      operationId: listBranchesWithStatusForRepo_1
      parameters:
      - name: repoIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: accountIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: branch
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOBoolean'
  /git-sync-entities/branch/{branch}:
    post:
      operationId: listSummaryByRepoAndBranch
      parameters:
      - name: projectIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: accountIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: size
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: gitSyncConfigId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: branch
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GitEntityBranchSummaryFilterDTO'
          text/yaml:
            schema:
              $ref: '#/components/schemas/GitEntityBranchSummaryFilterDTO'
          text/html:
            schema:
              $ref: '#/components/schemas/GitEntityBranchSummaryFilterDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOListGitSyncEntityListDTO'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOListGitSyncEntityListDTO'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOListGitSyncEntityListDTO'
  /git-sync-entities/summary:
    post:
      operationId: listSummary
      parameters:
      - name: projectIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: accountIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: size
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GitEntitySummaryFilterDTO'
          text/yaml:
            schema:
              $ref: '#/components/schemas/GitEntitySummaryFilterDTO'
          text/html:
            schema:
              $ref: '#/components/schemas/GitEntitySummaryFilterDTO'
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOGitSyncRepoFilesListDTO'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOGitSyncRepoFilesListDTO'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOGitSyncRepoFilesListDTO'
  /git-sync-entities/{entityType}:
    get:
      operationId: listByType
      parameters:
      - name: projectIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: accountIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: gitSyncConfigId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: branch
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: entityType
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - Projects
          - Pipelines
          - PipelineSteps
          - Connectors
          - Secrets
          - Service
          - Environment
          - InputSets
          - CvConfig
          - Delegates
          - DelegateConfigurations
          - CvVerificationJob
          - IntegrationStage
          - IntegrationSteps
          - CvKubernetesActivitySource
          - DeploymentSteps
          - DeploymentStage
          - ApprovalStage
          - FeatureFlagStage
          - Template
          - Triggers
          - MonitoredService
          - GitRepositories
          - FeatureFlags
      - name: page
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: moduleType
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageResponseGitSyncEntityListDTO'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageResponseGitSyncEntityListDTO'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOPageResponseGitSyncEntityListDTO'
  /git-sync-settings:
    get:
      operationId: get_2
      parameters:
      - name: projectIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: accountIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOGitSyncSettingsDTO'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOGitSyncSettingsDTO'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOGitSyncSettingsDTO'
    put:
      operationId: update_2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GitSyncSettingsDTO'
          text/yaml:
            schema:
              $ref: '#/components/schemas/GitSyncSettingsDTO'
          text/html:
            schema:
              $ref: '#/components/schemas/GitSyncSettingsDTO'
        required: true
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOGitSyncSettingsDTO'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOGitSyncSettingsDTO'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOGitSyncSettingsDTO'
    post:
      operationId: create_2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GitSyncSettingsDTO'
          text/yaml:
            schema:
              $ref: '#/components/schemas/GitSyncSettingsDTO'
          text/html:
            schema:
              $ref: '#/components/schemas/GitSyncSettingsDTO'
        required: true
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOGitSyncSettingsDTO'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOGitSyncSettingsDTO'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOGitSyncSettingsDTO'
  /scm/fileContent:
    get:
      operationId: getFileContent
      parameters:
      - name: yamlGitConfigIdentifier
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: accountIdentifier
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: filePath
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: branch
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: commitId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOGitFileContent'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOGitFileContent'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOGitFileContent'
  /scm/createPR:
    post:
      operationId: createPR
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GitPRCreateRequest'
          text/yaml:
            schema:
              $ref: '#/components/schemas/GitPRCreateRequest'
          text/html:
            schema:
              $ref: '#/components/schemas/GitPRCreateRequest'
        required: true
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOCreatePRDTO'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOCreatePRDTO'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOCreatePRDTO'
  /scm/listRepoBranches:
    get:
      operationId: listBranchesForRepo
      parameters:
      - name: connectorIdentifierRef
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: accountIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: repoURL
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 50
      - name: searchTerm
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: ""
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOListString'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOListString'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOListString'
  /scm/listBranchesByGitConfig:
    get:
      operationId: listBranchesForRepo_1
      parameters:
      - name: yamlGitConfigIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: accountIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 0
      - name: size
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 50
      - name: searchTerm
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: ""
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOListString'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOListString'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOListString'
  /scm/isSaasGit:
    post:
      operationId: isSaasGit
      parameters:
      - name: repoURL
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOSaasGitDTO'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOSaasGitDTO'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOSaasGitDTO'
  /git-sync/{identifier}/folder/{folderIdentifier}/default:
    put:
      operationId: updateDefault
      parameters:
      - name: projectId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: organizationId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: accountId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: identifier
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: folderIdentifier
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitSyncConfigDTO'
            text/yaml:
              schema:
                $ref: '#/components/schemas/GitSyncConfigDTO'
            text/html:
              schema:
                $ref: '#/components/schemas/GitSyncConfigDTO'
  /git-sync/git-sync-enabled:
    get:
      operationId: isGitSyncEnabled
      parameters:
      - name: accountIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitEnabledDTO'
            text/yaml:
              schema:
                $ref: '#/components/schemas/GitEnabledDTO'
            text/html:
              schema:
                $ref: '#/components/schemas/GitEnabledDTO'
  /git-sync:
    get:
      operationId: list_2
      parameters:
      - name: projectIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: accountIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GitSyncConfigDTO'
                x-content-type: application/json
            text/yaml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GitSyncConfigDTO'
            text/html:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GitSyncConfigDTO'
    put:
      operationId: update_3
      parameters:
      - name: accountIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GitSyncConfigDTO'
          text/yaml:
            schema:
              $ref: '#/components/schemas/GitSyncConfigDTO'
          text/html:
            schema:
              $ref: '#/components/schemas/GitSyncConfigDTO'
          text/plain:
            schema:
              $ref: '#/components/schemas/GitSyncConfigDTO'
        required: true
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitSyncConfigDTO'
            text/yaml:
              schema:
                $ref: '#/components/schemas/GitSyncConfigDTO'
            text/html:
              schema:
                $ref: '#/components/schemas/GitSyncConfigDTO'
    post:
      operationId: create_3
      parameters:
      - name: accountIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GitSyncConfigDTO'
          text/yaml:
            schema:
              $ref: '#/components/schemas/GitSyncConfigDTO'
          text/html:
            schema:
              $ref: '#/components/schemas/GitSyncConfigDTO'
          text/plain:
            schema:
              $ref: '#/components/schemas/GitSyncConfigDTO'
        required: true
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitSyncConfigDTO'
            text/yaml:
              schema:
                $ref: '#/components/schemas/GitSyncConfigDTO'
            text/html:
              schema:
                $ref: '#/components/schemas/GitSyncConfigDTO'
  /git-sync-trigger/webhook/{entityToken}:
    post:
      operationId: webhookCatcher
      parameters:
      - name: accountId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: entityToken
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestResponse'
            text/yaml:
              schema:
                $ref: '#/components/schemas/RestResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/RestResponse'
  /git-sync-errors/count:
    get:
      operationId: getErrorCount
      parameters:
      - name: accountIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: searchTerm
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: branch
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: repoIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: getDefaultFromOtherRepo
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        default:
          description: default response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDTOGitSyncErrorCountDTO'
            text/yaml:
              schema:
                $ref: '#/components/schemas/ResponseDTOGitSyncErrorCountDTO'
            text/html:
              schema:
                $ref: '#/components/schemas/ResponseDTOGitSyncErrorCountDTO'
  /git-sync-errors:
    get:
      operationId: listGitSyncErrors
      parameters:
      - name: pageIndex
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 50
      - name: sortOrders
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/SortOrder'
      - name: accountIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: orgIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: projectIdentifier
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: searchTerm
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: branch
        in: query
[...]
